appnope
asteval
asttokens
blosc2
certifi
charset-normalizer
comm
contourpy
CPGNetworkSimulator @ git+https://github.com/SimonDanner/CPGNetworkSimulator@e969c22
pyyaml
cycler
debugpy
decorator
dill
executing
fonttools
greenlet
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
llvmlite
lmfit
matplotlib
matplotlib-inline
msgpack
multiprocess
ndindex
nest-asyncio
networkx
numba
numexpr
numpy
packaging
pandas
parso
pexpect
pillow
pip
platformdirs
POT
prompt_toolkit
psutil
ptyprocess
pure_eval
py-cpuinfo
pybind11
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
requests
SALib
scikit-learn
scipy
scoop
seaborn
six
stack-data
tables
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
uncertainties
urllib3
wcwidth
xgboost
